.todo-card {
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.4);
  border-radius: 4px;

  &-title {
    font-size: 20px;
  }

  &-actions {
    display: flex;
    align-items: center;

    img {
      margin-left: 10px;
      cursor: pointer;
    }

    input[type="checkbox"] {
      cursor: pointer;
    }
  }
}

.todo-card:hover {
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.5);
}
