@import "../../index.scss";

.todo-info {
  margin-top: 30px;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.4);
  &-title {
    font-size: 20px;
  }

  &-title::before {
    content: "Задача:";
    color: #adadad;
    margin-right: 10px;
  }
  &-status {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &-status::before {
    content: "Статус:";
    color: #adadad;
    margin-right: 10px;
  }
  &-actions {
    display: flex;
    justify-content: flex-end;
    button {
      color: #fff;
      padding: 8px;
      font-size: 16px;
      border-radius: 4px;
      margin: 0px 5px;
    }
  }
  &-complete-btn {
    background-color: $primary;
  }
  &-edit-btn {
    background-color: #00b0ff;
  }
  &-delete-btn {
    background-color: #ff1744;
  }
}
