.adding-todo {
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.4);
  margin: 30px auto;
  border-radius: 4px;

  form {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input[type="text"] {
      padding: 8px;
      flex-grow: 1;
      margin-right: 20px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #adadad;
    }

    button[type="submit"] {
      background-color: #00e5ff;
      color: #fff;
      padding: 9px;
      font-size: 16px;
      border-radius: 4px;
    }
  }
}
